# Dependencies
node_modules/
.pnp
.pnp.js

# Production build
dist/

# Environment variables & local keys
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
*.pem

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary test artifacts
test-artifacts/
.tempmediaStorage/
scratch/
